<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.entity.User">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="password" jdbcType="VARCHAR" property="passWord" />
        <result column="real_name" jdbcType="VARCHAR" property="realName" />
    </resultMap>

    <select id="Sel" resultType="com.example.entity.User">
        select * from user where id = #{id}
    </select>

    <select id="getList" resultMap="BaseResultMap">
        select * from user
    </select>

    <select id="addList"  resultMap="BaseResultMap">
        INSERT INTO user(user_name,password,real_name) VALUES(#{userName},#{password},#{realName});
    </select>

    <select id="deleteList"  resultMap="BaseResultMap">
        DELETE FROM user WHERE id = #{id}
    </select>

    <select id="updateList"  resultMap="BaseResultMap">
        UPDATE user SET user_name=#{userName},password=#{password},real_name=#{realName} WHERE id=#{id}
    </select>
</mapper>
